@import "../../sass/color";

.page-home {
  .container {
    text-align: center;
  }

  .logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .header {
    background-color: $background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $white;
  }

  .link {
    color: $blue;
    text-decoration: underline;
  }

  .container-text-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    .text-box {
      background-color: $white;
      border-radius: 10px;
      max-width: 20rem;
      height: 2.5rem;
      padding-left: 5%;
      padding-top: 3%;
      padding-right: 5%;
      cursor: pointer;

      &:hover {
        box-shadow: 12px 12px 2px 1px wheat;
        transition: 800ms;
      }
      p {
        color: $background;
        display: inline;
        white-space: nowrap;
      }
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
